  <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/p720x720/54369341_2199234100340414_6543748228712497152_o.jpg?_nc_cat=110&_nc_sid=110474&_nc_ohc=CaNsWFT0P-0AX-eADUm&_nc_ht=scontent-hkt1-1.xx&_nc_tp=6&oh=8a961c557d6bac12da3b76d95f72fa42&oe=5E9B940B" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/s960x960/53336767_2199234063673751_1524021651237240832_o.jpg?_nc_cat=103&_nc_sid=110474&_nc_ohc=aznuppP-Yc8AX_CAh7Y&_nc_ht=scontent-hkt1-1.xx&_nc_tp=7&oh=ead344e7f54f2e2e48f56c6adc91cce7&oe=5E99004B" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/p720x720/53302318_2199234010340423_607131959872716800_o.jpg?_nc_cat=103&_nc_sid=110474&_nc_ohc=VPnY2pD84poAX9GVVXy&_nc_ht=scontent-hkt1-1.xx&_nc_tp=6&oh=c84f05a07e0ca9c132dd7f67360c9b9b&oe=5E99844C" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>